/*Global css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
      padding-left: 20px;
      padding-top: 5px;
  }

#header {  
    padding-top: 20px;
    padding-left: -10px;
    justify-content: space-between;
    display: flex;
    height: 3.25em;
    width: 10%;
    font-size: 20px;
    font-weight: 600;
}
  a:visited { 
    text-decoration: none;
    color: black;
   }

.status {
    color: #FF69B4;
    font-family: Lucida, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 10px;
    padding-left: 20px;
   }
p{
    padding-left: 20px;
    max-width: 250px;
    word-wrap: break-word;
    color: gray;
    padding-top: 20px;
    font-size: large;
}

hr {
    color: gray;
    opacity: 0.33;
}

footer > p {
    font-size: large;
    padding-top: 40px;
    padding-bottom: 40px;
}

.exlusive {
    padding-bottom: 10px;
    padding-top: 0;
}

//Mobile//
@media screen and (max-width: 550px) {
    #menu {
        display: none;
      }
      a {
            font-family: sans-serif;
            font-weight: bolder;
            display: flex;
            text-decoration: none;
            padding: 0 0 0 10px;
      }

    h1 {
        font-weight: bolder;
        padding-left: 20px;
        padding-top: 10px;
        font-family: Lucida, sans-serif;
    }
    .image2 {
        width: 150px;
        float: right;
        object-fit: cover;
        object-position: 60px 0px;
    }
    .image3 {
        width: 150px;
        float: right;
        object-fit: cover;
        object-position: 27px 0px;
    }

    .sign-up {
        width: 130px;
        height: 50px;
        border: solid 4px transparent;
        border-radius: 20px;
        background-image: linear-gradient(white, white), 
                          linear-gradient(to right, #f3ec78, #af4261);
        background-origin: border-box;
        background-clip: content-box, border-box;
        margin-bottom: 30px;
        margin-top: 1em;
        margin-left: 1em;
        font-family: sans-serif;
        text-align: center;
      }
        // a:hover {
        //     background-color: #af4261;
        //     color: black;
        // }
        
    .sign-up h2 {
        font-size: 15px;
        margin-top: 12px;
        margin-left: 22px;
        font-weight: 400;
        
    }

    #menu1 {
        width: 20px;
        height: 10px;
        margin: 20px 30px 20px 20px;
        float: right;
        cursor: pointer;
            .bar {
                height: 4px;
                width: 100%;
                background-color: gray;
                display: block;
                border-radius: 5px;
            }
            #bar1 {
                transform: translateY(-4px);
            }
            #bar3 {
                transform: translateY(4px);
            }
    }
    .gradient-background {
        padding-top: 70px;
        padding-left: 20px;
        background-color: red;
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
    }
        .centered {
            word-wrap: break-word;
            font-family: sans-serif;
            font-weight: bold;
            font-size: xx-large;
        }
        .centered1 {
            word-wrap: break-word;
            padding-top: 10px;
            padding-bottom: 20px;
            font-family: sans-serif;
            font-size: large;
        }
    .img-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #link1 {
        text-decoration: underline;
        color: inherit;
        font-size: small;
        padding-left: 0%;
        #link1:hover {text-decoration: none;}
    }
    .img-container2 {
        overflow-x: scroll;
        overflow-x: hidden;
        white-space: nowrap;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .img-container3 > a {
        white-space: nowrap;
        padding-bottom: 30px;
        all:unset;
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
    }

    .p2 {
        padding-top: 4px;
    }

    .sign-up2 {
        width: 130px;
        height: 50px;
        border: solid 4px transparent;
        border-radius: 20px;
        background-image: linear-gradient(white, white), 
                          linear-gradient(to right, #f3ec78, #af4261);
        background-origin: border-box;
        background-clip: content-box, border-box;
        margin-bottom: 1em;
        margin-top: 1em;
        margin-left: 1em;
        font-family: sans-serif;
        text-align: center;
    }
    .sign-up2 h2 {
        font-size: 15px;
        margin-top: 12px;
        margin-left: 22px;
        font-weight: 400;   
    }

    .grid {
        padding-top: 20px;
        padding-left: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
        dd {
            padding-top: 5px;
            color: gray;
            font-size: large;
        }

        h3 {
            padding-bottom: 10px;
            color: rgb(136, 134, 134);
            font-family: sans-serif;
            font-size: small;
            text-shadow: 1px 1px gray
        }
}

//Desktop//
@media screen and (min-width: 551px) {

    .sign-up {
        width: 130px;
        height: 50px;
        border: solid 4px transparent;
        border-radius: 20px;
        background-image: linear-gradient(white, white), 
                          linear-gradient(to right, #f3ec78, #af4261);
        background-origin: border-box;
        background-clip: content-box, border-box;
        margin-bottom: 30px;
        margin-top: 1em;
        margin-left: 1em;
        font-family: sans-serif;
        text-align: center;
      }

      .sign-up2 {
        width: 130px;
        height: 50px;
        border: solid 4px transparent;
        border-radius: 20px;
        background-image: linear-gradient(white, white), 
                          linear-gradient(to right, #f3ec78, #af4261);
        background-origin: border-box;
        background-clip: content-box, border-box;
        margin-bottom: 1em;
        margin-top: 1em;
        margin-left: 1em;
        font-family: sans-serif;
        text-align: center;
    }

    .gradient-background {
        padding-top: 70px;
        padding-left: 20px;
        background-color: red;
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
    }
        .centered {
            word-wrap: break-word;
            font-family: sans-serif;
            font-weight: bold;
            font-size: xx-large;
        }
        .centered1 {
            word-wrap: break-word;
            padding-top: 10px;
            padding-bottom: 20px;
            font-family: sans-serif;
            font-size: large;
        }

    a {
        font-family: sans-serif;
        font-weight: bolder;
        display: flex;
        text-decoration: none;
        padding: 0 0 0 10px;
  }

    .special {
        color: #FF69B4 !important;
        white-space: nowrap;
    }

    .status {
        padding-top: 50px;
        margin-right: 0;
    }

    h1 {
        font-weight: bolder;
        padding-left: 20px;
        padding-top: 10px;
        font-family: Lucida, sans-serif;
    }

    #header {  
        justify-content: space-between;
        display: flex;
        height: 3.25em;
        width: 1%
      }

      #header a {
        padding-left: 5px !important;
          margin-top: 0px !important;
      }

      #menu a {
          text-decoration: none;
          color: gray;
          font-family: sans-serif;
          font-size: small;
          padding: 0 0.5em;
      }
  //asdadas
      #menu .links {
        overflow: hidden;
        list-style: none;
        display: flex;
        width: 100%;
        margin-left: 400px;

      }

    .image2 {
        width: 350px;
        float: right;
        padding-right: 150px;
    }

    .image3 {
        width: 200px;
        float: right;
        padding-right: 50px;
    }

    #header > a {
        margin-block-end: 1em;
        margin-block-start: 1em;
      }
      
      #header a {
        padding: 0 1.5em;
      }
      #link1 {
        text-decoration: underline;
        color: inherit;
        font-size: small;
        padding-left: 0%;
        #link1:hover {text-decoration: none;}
    }

    .sign-up h2 {
        font-size: 15px;
        margin-top: 12px;
        margin-left: 22px;
        font-weight: 400;
    }

    .sign-up2 h2 {
        font-size: 15px;
        margin-top: 12px;
        margin-left: 22px;
        font-weight: 400;   
    }

    .p2 {
        padding-top: 4px;
    }

    .grid {
        padding-top: 20px;
        padding-left: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        float: right
    }
        dd {
            padding-top: 5px;
            color: gray;
            font-size: large;
        }

        h3 {
            padding-bottom: 10px;
            color: rgb(136, 134, 134);
            font-family: sans-serif;
            font-size: small;
            text-shadow: 1px 1px gray
        }

    .img-container3 > a {
        white-space: nowrap;
        padding-bottom: 30px;
        all:unset;
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
    }

    footer > p {
        font-size: large;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}