/* Global css */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
}

#menu {
  display: none;
}

nav div.container {
  padding: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav div.container div.navlogo {
  max-width: 100%;
}

nav div.container div.navlinks a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: black;
}

nav div.container div.navlinks a:nth-last-child(1) {
  color: #f129a7;
}

section.signup div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.5rem 5% 2.5rem 4.5rem;
  line-height: 2rem;
  position: relative;
}

section.signup div.container img {
  height: 35rem;
  width: 35rem;
  -o-object-fit: contain;
     object-fit: contain;
}

section.signup div.container div.text {
  margin-right: 5rem;
}

section.signup div.container h1 {
  width: 100%;
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 5rem;
  white-space: normal;
}

section.signup div.container h3 {
  color: #f129a7;
  font-weight: 800;
  font-size: 0.9rem;
}

section.signup div.container p {
  color: darkslategrey;
}

section.signup div.container button {
  color: black;
  border: solid 3.5px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), -webkit-gradient(linear, left top, right top, from(#ff487d), color-stop(#ff5242), color-stop(#ff8139), to(#c6b169));
  background-image: linear-gradient(white, white), linear-gradient(to right, #ff487d, #ff5242, #ff8139, #c6b169);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #fff inset;
          box-shadow: 2px 1000px 1px #fff inset;
  border-radius: 35px;
  padding: 1rem 2rem;
}

section.signup div.container button:hover {
  font-weight: bolder;
  -webkit-box-shadow: 0px 0px 0px #fff inset;
          box-shadow: 0px 0px 0px #fff inset;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff487d), color-stop(#ff5242), color-stop(#ff8139), to(#c6b169)), -webkit-gradient(linear, left top, right top, from(#ff487d), color-stop(#ff5242), color-stop(#ff8139), to(#c6b169));
  background-image: linear-gradient(to right, #ff487d, #ff5242, #ff8139, #c6b169), linear-gradient(to right, #ff487d, #ff5242, #ff8139, #c6b169);
  cursor: pointer;
}

section.signup:last-of-type div.container {
  border-bottom: solid 1px lightgrey;
  border-top: solid 1px lightgrey;
  margin: 0 2.5rem;
  padding-bottom: 0;
}

section.signup:last-of-type div.container div.text {
  margin-right: 2rem;
}

section.signup:last-of-type div.container div.text h1 {
  font-size: 4rem;
}

section.earlybirds {
  background-color: white;
}

section.earlybirds div.container {
  margin: 0 2rem;
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: none;
  padding: 6.5rem 1.5rem 2.5rem 3.5rem;
  border-radius: 15px;
}

section.earlybirds h1 {
  font-weight: 400;
}

section.companies div.container {
  margin: 4rem 0 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.companies div.container img {
  height: 2.5rem;
}

section.products div.container {
  padding: 3.5rem;
}

section.products div.container a {
  color: darkslategrey;
  font-weight: 500;
}

section.products div.container p {
  color: darkslategrey;
}

section.products div.container div.sales {
  position: relative;
  margin-top: 3rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.products div.container div.sales div.sale {
  margin: 0 1rem 0 1rem;
}

section.products div.container div.sales div.sale div.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2f4f30;
  font-size: 0.9rem;
}

section.products div.container div.sales div.sale div.name-price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-weight: bold;
}

section.products div.container div.sales div.sale div.name-price p.name {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

section.products div.container div.sales div.sale div.name-price p.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
}

section.products div.container div.sales div.sale div.name-price p.price img {
  margin: 0 0.2rem;
}

section.products div.container div.sales div.sale div.image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.products div.container div.sales div.sale div.image-text p {
  line-height: 0.1;
}

section.products div.container div.sales div.sale div.image-text p.series {
  color: #fb8518;
  font-size: 0.7rem;
}

section.products div.container div.sales div.sale div.image-text p.topbid {
  color: darkslategrey;
  font-size: 0.6rem;
}

section.products div.container div.sales div.sale div.description {
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 0 0 15px 15px;
  margin-top: -6px;
}

footer div.container {
  padding: 2.5rem 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: darkslategrey;
}

footer div.container div.footer-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

footer div.container div.footer-right h3 {
  font-size: 1rem;
}

footer div.container div.footer-right div {
  width: 15%;
  margin: 0 1.5rem 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div.container div.footer-right div a {
  text-decoration: none;
  color: darkslategrey;
  line-height: 2rem;
}

footer div.container div.footer-left div.socmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

footer div.container div.footer-left div.socmedia img {
  width: 17px;
  height: 18px;
  margin: 0.5rem;
}

div.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3rem 3.5rem 3rem 3.5rem;
  color: grey;
}

.currency {
  height: 1rem;
}

/* Global css end */
/* Mobile version */
@media screen and (max-width: 768px) {
  nav div.container {
    padding: 1.5rem;
  }
  nav div.container div.navlinks {
    display: none;
  }
  nav div.container div.navlogo img {
    max-width: 70%;
  }
  #menu {
    display: block;
    height: 30px;
    width: 30px;
  }
  section.signup div.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 2.5rem 30% 2.5rem 1.5rem;
    line-height: 1.5rem;
    height: 100%;
  }
  section.signup div.container h1 {
    margin-top: 0.5rem;
    font-size: 2rem;
    line-height: normal;
  }
  section.signup div.container h3 {
    margin-bottom: 0;
    font-size: 0.7rem;
  }
  section.signup div.container div.text {
    margin-right: 0;
  }
  section.signup div.container img {
    position: absolute;
    top: -1rem;
    right: -150px;
    height: 20rem;
    width: 20rem;
  }
  section.signup:last-of-type div.container {
    padding-bottom: 0;
    margin: 0;
  }
  section.signup:last-of-type div.container div.text h1 {
    font-size: 2.5rem;
    line-height: normal;
  }
  section.signup:last-of-type div.container img {
    position: right;
    top: 2rem;
    right: -140px;
    height: 23rem;
    width: 23rem;
  }
  section.signup:last-of-type div.text {
    padding-bottom: 2rem;
  }
  section.earlybirds div.container {
    background-position: -200px;
    margin: 2rem 0;
    border-radius: 0;
    padding: 4.5rem 0rem 1rem 1remrem;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.earlybirds div.container h1 {
    font-size: 1.7rem;
    font-weight: 500;
  }
  section.companies div.container {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  section.companies div.container img {
    width: 35%;
    height: 2.5rem;
    margin: 1rem;
  }
  section.companies div.container img:last-child {
    display: none;
  }
  section.products div.container {
    padding: 2rem 0rem 2rem 1.5rem;
  }
  section.products div.container h1,
  section.products div.container p {
    margin-right: 1.5rem;
  }
  section.products div.container footer div.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 2.5rem 1.5rem;
  }
  footer div.container div.footer-right {
    width: 100%;
    margin-top: 2rem;
    margin-left: -1rem;
  }
  footer div.container div.footer-right div {
    width: 30%;
    margin: 0 1.5rem 0 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.copyright {
    margin: 3rem 1rem 3rem 1rem;
    color: grey;
  }
  div.copyright p:last-of-type {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */