/* Global css */
$colorpink: rgb(245, 115, 178);
$between:space-between;

body{
    background-color: white;
    margin:0;
  }
  
  ul * {
    list-style: none;
  }

  ul {
    display: flex;
    justify-content:$between;
  }

  h6{
    color:$colorpink;
    padding:0;
    }

    .left h1{
      font-size: 40pt;
      padding-top: 0;
      margin:0;
    }
     
    button{
      background-color:white;
      border-radius: 40px;
      padding: 10px 20px;
      box-shadow: 10%;
      border-color: $colorpink;
      max-width: 50%;
    } 

    .container p {
      padding-bottom: 20px;
    }
  
  header{
    background-color: white;
    display: flex;
    justify-content: $between;
    align-items: flex-start;
  }

  .logo img {
    margin-left:0px;
    padding-left: 0;
  }
  
  .menu * {
    margin-top: 0;
  }

  a:not(.mainfour a) {
    text-decoration: none;
  }
  a:not(.red){
    color: black;
  }

  nav a{
  padding-left: 20px;
  }
  
  .red a{
      color: $colorpink;
  }
  
  .container {
    display: flex;
  }
  
  .maintwo {
    background:
    linear-gradient(red, transparent),
    linear-gradient(to top left, #f48210, transparent),
    linear-gradient(to top right, rgb(0, 255, 64), transparent);
    background-blend-mode: screen;
    padding: 60px 0px 20px 30px;
    border-radius: 5px;
    margin-top: 30px;
  }
  
  .mainthree .logoblocks {
    padding:30px 0 30px 0; 
    width: 106%;
    display: flex;
  }

   .logoblocks ul  {
   padding: 0;
   margin: 0;
  }

  .mainthree img {
    width: 70%;
  }

  .mainfive .imgrow {
    padding:30px 0 30px 0;
    width: 102%;
  }

  .mainfive img {
    width: 95%;
  }

  .mainsix {
  border-bottom: 1px solid rgba(128, 128, 128, 0.166);
  border-top: 1px solid rgba(128, 128, 128, 0.166);
  }
  
  .table {
    display: flex;
    text-align: left;
  }

  td,th {
    padding: 10px 0 10px 40px;
  }

  .mainseven {
    display: flex;
    justify-content: $between;
    padding-top: 30px;
  }

  footer ul {
    padding-left: 0;
  }
  
   /* End Global css */


    /* Mobile view */
    @media screen and (max-width: 736px) {
        #main :not(.maintwo) {
          margin:0 5px 0 5px;
        }
        header {
          margin: 15px 5px 20px 5px;
        }
        footer {
          margin: 0 5px 30px 20px;
        }
      
      .maintwo {
        margin: 0;
      }
    
        header{
          height: 50px;
          background-color: white;
          display: flex;
          justify-content: $between;
          align-items: flex-start;
        }
    
        .menu {
          display: none;
        }
    
        .headerToggle {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2.25em;
          width: 2.25em;
          right: 20px;
          top: 0;
          position: fixed;
        }
      
        .toggle {
          width: 100%;
          height: 100%;
          position: absolute;
          background-color:white;
          top: 0.5em;
          left: 0.5em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      
        .toggle > div {
          width: 15px;
          height: 2px;
          background-color:grey;
          margin: 2px 0;
        }
    
        .right img {
          width: 250%;
        }
    
         .left {
           flex: 2;}
    
           .right{
            flex: 1;
            justify-content: center;
        }   
    
        .maintwo {
         padding:90px 0 20px 15px;
        }
    
        .mainthree .logoblocks{
          display: block;
        }
    
        .logorowone :nth-child(2) {
          display: none;}
      
        .logorowtwo :nth-child(2) {
          display: none;
        }
        
        .mainthree .logorow  {
         text-align:right;
        }
    
        .mainfive .imgrow {
          padding:30px 0 30px 0;
          width: 250%;
        }
        
        .mainsix {
          padding-top: 40px;
          }
    
        .mainsix h1 {
            border-bottom: 1px solid rgba(128, 128, 128, 0.166);
          }
            
        .mainseven {
        display: block;
        justify-content: flex-start;
        }
        
        td,th {
        padding-left: 0;
        }
        
        .table {
        display: block;
        text-align: left;
        }
        
        footer ul {
        justify-content: flex-start;
        }
        
        button {
          max-width: 70%;
          padding: 15px 30px;
          border-radius: 50px;
          font-size: larger;
        }
      }
      
   /* Tablet screen */
  @media screen and (min-width: 737px) {
    body{
      margin:30px;
    }

    .headerToggle {
        display: none;
    }

    .left {
        flex: 3;
         align-items: flex-start;
         margin-top: 50px;
    }
        
    .right{
      flex: 5;
      align-self: flex-end;
    }
    .right img {
      width: 70%;
      padding: 50px 0 0 0;
      margin-bottom: 0px;
    }

  .container .right {
     text-align: right;
    }

    .logorowone .bloom {
      display: none;
      }
      
      .mainthree .logoblocks {
        display: flex
      }
      
     
  }
     
      