body {
    background-color: rgb(252, 250, 250);
}
.wrapper {
    max-width: 50rem;
margin: 0 auto;
}

footer {
    display: flex;
    flex-wrap: wrap;
}

.first-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section1, .icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section1 :first-child {
    flex: 60%;
}
.section1 :last-child {
    flex: 40%;
}
.icons nav {
    color: rgb(130, 127, 127);
}

button {
    border-radius: 10em;
    padding: 0.5rem 1.5rem;
    border: double 2px transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-image: linear-gradient(white,white), linear-gradient(to right, rgb(226, 93, 186), rgb(235, 66, 15) ,rgb(207, 167, 9));
    }

a{
    text-decoration: none;
    justify-content: space-around;
    color: black;
}

a:last-child {
    color: rgb(255, 0, 128)
}
.row {
    display: flex;
    flex-wrap: wrap;
    color: rgb(131, 89, 171);
}

.color-block {    
    background-image: linear-gradient(to right, rgb(226, 93, 186), rgb(235, 66, 15) ,rgb(207, 167, 9), rgb(154, 248, 154));
padding: 2rem 0 1rem 1rem;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    }

    
    .eth {
        height: 1.5rem;
        width: 1.5rem;
    }
.background-grey {
    background-color: rgb(233, 231, 231);
    border-radius: 0.5em;
    border: solid 1px rgba(0, 0, 0, 0.15);
    padding: 0 0;
        }

.background-grey img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 100%;
}     

.currency {
    display: flex;
    flex-wrap: nowrap;
}


.container {
        display: flex;
        flex-wrap: wrap;
       align-items: stretch;
        justify-content: space-between;
             }

             @media screen and (max-width: 736px) {
                .header {
                     display: none;
                 }
                 .first-row {
                    display: flex;
                    flex-wrap: wrap;
                   align-items: stretch;
                    justify-content: space-between;
                         }

             #headerToggle {
                display: flex;
                align-items: center;
                justify-content: right;
                height: 2.25em;
                width: 2.25em;
                left: 0;
                top: 0;
                position: static;
              }
              .toggle > div {
                width: 15px;
                height: 3px;
                background-color: rgba(93, 90, 90, 0.784);
                margin: 2px 0;
                              }
             .section1 {
                                display: flex;
                               flex-wrap: wrap;
                                justify-content: space-between;
                                align-items: center;
                                padding-top: 1rem;
                                padding-bottom: 1rem;
                            }
          
 }
 .section1 :first-child {
     font-size: medium;
 }
 .section1 img {
     width: 20%;
 }
