// Global css
body {
  font-family: sans-serif;
}

.sign-up {
  h5 {
    color: #ff3998;
    text-transform: uppercase;
  }
  p {
    color: rgb(93, 93, 93);
  }
  display: flex;
  display: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px 0px 20px 20px;
}

.button {
  button {
    background-color: white;
    border-radius: 100px;
    border: solid 3.5px #ff3939;
    text-transform: capitalize;
    padding: 0.8em 2em 0.8em 2em;
    font-weight: bold;
  }
  button:hover {
    background-color: #ff3939;
    border: solid 3.5px white;
  }
}

.left {
  box-shadow: 5px black;
}

.right {
  img {
    width: 100px;
    float: right;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    margin: 20px;
  }
  nav {
    font-weight: lighter;
    margin: 20px;
    a {
      color: black;
      text-decoration: none;
      margin: 5px;
      width: 7px;
    }
    .signup {
      color: #ff3998;
    }
  }
}

// Global css end
@media screen and (max-width: 736px) {
  nav {
    display: none;
  }

  .burger {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .burger-particle {
    flex-direction: column;
    background-color: gray;
    border-radius: 5px;
    width: 20px;
    height: 3px;
    margin: 2px;
  }

  .advert {
    background: linear-gradient(280deg, #39ffa0, #ff8139, #ff3939);
    padding: 75px 20px 10px 20px;
  }

  .desktop-img {
    display: none;
  }

  .toggle-client {
    display: none;
  }

  .clients {
    display: grid;
    grid-template-areas:
      "boom blimp"
      "qrco droplet";
    padding: 10px;
    text-align: center;
  }

  .client-contact {
    margin: 10px;
    img {
      width: 150px;
    }
  }

.auction {
    margin:20px
}

  .auction-text {
    p {
      color: gray;
    }

    a {
      color: rgb(113, 113, 113);
      text-decoration-color: rgb(82, 82, 82);
      text-decoration-thickness: 2px;
    }
    .auction-items {
        display: grid;
        grid-template-areas:
        "img img"
        "series bid"
        "name price"
        "number time-left";
        
    }
    
    .product-img {
        grid-area: "img";
    }
    .series {
        grid-area: "series";
    }
    .bid {
        grid-area: "bid";
    }
    .name {
        grid-area: "name";
    }
    .price {
        grid-area: "price";
    }
    .number {
        grid-area: "number";
    }
    .time-left {
        grid-area: "time-left";
    }
  }

.version-2 {
    padding:0;
    margin:0;
    .button {
        
    }

    .right {
        align-self: flex-end;
        border-bottom: solid 1px gray;
        padding: 0;
        margin:0;
        height: 100%;
    }
    .left, .button {
        padding:0;
        margin: 0;
    }
    .left {
        border-bottom: solid 1px gray;
    }
}
}

@media screen and (min-width: 737px) {
}