body {
  font-family: sans-serif;
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px 20px 20px;
}

.sign-up h5 {
  color: #ff3998;
  text-transform: uppercase;
}

.sign-up p {
  color: #5d5d5d;
}

.button button {
  background-color: white;
  border-radius: 100px;
  border: solid 3.5px #ff3939;
  text-transform: capitalize;
  padding: 0.8em 2em 0.8em 2em;
  font-weight: bold;
}

.button button:hover {
  background-color: #ff3939;
  border: solid 3.5px white;
}

.left {
  -webkit-box-shadow: 5px black;
          box-shadow: 5px black;
}

.right img {
  width: 100px;
  float: right;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  margin: 20px;
}

header nav {
  font-weight: lighter;
  margin: 20px;
}

header nav a {
  color: black;
  text-decoration: none;
  margin: 5px;
  width: 7px;
}

header nav .signup {
  color: #ff3998;
}

@media screen and (max-width: 736px) {
  nav {
    display: none;
  }
  .burger {
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .burger-particle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: gray;
    border-radius: 5px;
    width: 20px;
    height: 3px;
    margin: 2px;
  }
  .advert {
    background: linear-gradient(280deg, #39ffa0, #ff8139, #ff3939);
    padding: 75px 20px 10px 20px;
  }
  .desktop-img {
    display: none;
  }
  .toggle-client {
    display: none;
  }
  .clients {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "boom blimp" "qrco droplet";
    padding: 10px;
    text-align: center;
  }
  .client-contact {
    margin: 10px;
  }
  .client-contact img {
    width: 150px;
  }
  .auction {
    margin: 20px;
  }
  .auction-text p {
    color: gray;
  }
  .auction-text a {
    color: #717171;
    -webkit-text-decoration-color: #525252;
            text-decoration-color: #525252;
    text-decoration-thickness: 2px;
  }
  .auction-text .auction-items {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "img img" "series bid" "name price" "number time-left";
  }
  .auction-text .product-img {
    grid-area: "img";
  }
  .auction-text .series {
    grid-area: "series";
  }
  .auction-text .bid {
    grid-area: "bid";
  }
  .auction-text .name {
    grid-area: "name";
  }
  .auction-text .price {
    grid-area: "price";
  }
  .auction-text .number {
    grid-area: "number";
  }
  .auction-text .time-left {
    grid-area: "time-left";
  }
  .version-2 {
    padding: 0;
    margin: 0;
  }
  .version-2 .right {
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-bottom: solid 1px gray;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  .version-2 .left, .version-2 .button {
    padding: 0;
    margin: 0;
  }
  .version-2 .left {
    border-bottom: solid 1px gray;
  }
}
/*# sourceMappingURL=style.css.map */