// Global css
body {
    font-family: sans-serif;
  }
  
  
  .sign-up {
    h5 {
      color: #FF3998  ;
      text-transform: uppercase;
    }
    p {
      color: rgb(93, 93, 93);
    }
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 20px 0px 20px 20px
  }
  
  .button {
    button {
      background-color: white;
      border-radius: 100px;
      border: solid 3.5px #FF3939;
      text-transform: capitalize;
      padding: 0.8em 2em 0.8em 2em;
    }
    button:hover {
      background-color: #FF3939;
      border: solid 3.5px white;
    }
  }
  
  .left {
    box-shadow: 5px black;
  }
  
  .right {
    img { width:100px;
      float:right;
    }
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    img {
      margin: 20px;
    }
    nav {
      font-weight: lighter;
      margin: 20px;
      a {
        color: black;
        text-decoration: none;
        margin: 5px;
        width: 7px;
      }
      .signup {
        color: #FF3998;
      }
    }
  }
  
  // Global css end
  @media screen and (max-width: 736px) {
    nav {
      display: none;
    }
  
    .burger {
      margin: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  
    .burger-particle {
      flex-direction: column;
      background-color: gray;
      border-radius: 5px;
      width: 20px;
      height: 3px;
      margin: 2px;
    }
  
    .advert {
        background: linear-gradient(280deg, #39FFA0, #FF8139, #FF3939);
    }
  
  }
  
  @media screen and (min-width: 737px) {
  }